/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.vs
/.claude
.env
.env.*
*.log
*.sqlite
*.pptx
*.potx
*.pdf
/report_work
/uploads
